#hidden {
    display: none;
}
.main {
    width: 950px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}
ul.minornav, ul#hpicon_container, ul#hpicon_container2 {
    margin: 0 0 5px 0;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#socialicons {
    float: right;
    text-align: right;
}

aside#asidelinks {
    padding-bottom: 50px;
    background-color: #00162e;
}
#linksblock {
    padding-top: 115px;
    background: url(http://www.etsu.edu/etsuhome/templateimages/footer_logo_2014.png) no-repeat center 5%;
}
/*============== aside linksblock=================*/

#linksblock {padding-top: 115px;background:url('http://www.etsu.edu/etsuhome/templateimages/footer_logo_2014.png') no-repeat center 5%;}
#linksblock li { line-height: 1.7em }
#linksblock a, #linksblock p, footer a{ color: #7790ab }
aside h2{font-size:16px;line-height:18px;color:#e9e8e8;text-transform:uppercase;padding-bottom:32px}
.box-aside{border-right:1px solid #322d30;margin-right:10px;}
.box-aside.last{border:none}
aside#asidelinks {padding-bottom: 50px;background-color:#00162e;}
h2 a.linkheading {color:#fff !important; font-family: "sorts italic",georgia,serif; font-size: 1.2em; line-height: 1.2em; text-decoration: none; text-transform: none }
.catlinks {margin-right: 10px; border-right: 1px solid #1c293b }
div#linksblock article { height: 100%; min-height: 220px }
div#linksblock article:nth-child(6) div.catlinks { border-right: none }

/*================== footer =========================*/
footer
{
    background-color:#00162e;
    padding:25px 0 30px;
    position:relative;
    color: #7790ab;
}
footer ul li:nth-child(1) { padding-left: 0 }
.minornav li {border-right: 1px solid #7790ab;padding: 0 10px;}
.minornav li.nodivider {border:none;}
.footerlink { color:#7790ab; text-decoration:underline;
}
.container_24 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.navbar .nav > li > a {

    color:  white;
    vertical-align:middle;
    margin-top: 10px;
}

.navbar .nav > li > a:hover {
    color:#FFC72C ;
}

@media only screen and (max-width: 766px) {
    .collapsing, .in {background-color: #FFC72C;}
    .collapsing ul li a, .in ul li a {color: #041E42!important;}
    .collapsing ul li a:hover, .in ul li a:hover {
        color: #FFC72C!important;
        background-color:#041E42!important;
        box-shadow: 0 5px #666!important;
    }
}

.navbar-toggle{
    background-color: #041E42!important;
    vertical-align:middle;
    margin-top:20px;
}
.navbar-toggle.collapsed{
    background-color: #041E42!important;
}
.navbar-toggle.collapsed .icon-bar{
    background-color: #FFC72C!important;
}
.navbar-toggle:focus{
    background-color:#FFC72C!important;
}

.navbar-toggle.collapsed:focus{
    background-color: #041E42!important;
}

.navbar-toggle.collapsed:focus .icon-bar{
    background-color: #FFC72C!important;
}

.icon-bar{
    background-color: #FFC72C!important;
}

.navbar-toggle:focus .icon-bar{
    background-color:#041E42!important;;
}
@media (max-width: 1300px) {
    .navbar-header {
        float: none;
    }
    .collapsing, .in {background-color: #FFC72C;}
    .collapsing ul li a, .in ul li a {color: #041E42!important;}
    .collapsing ul li a:hover, .in ul li a:hover {
        color: #FFC72C!important;
        background-color:#041E42!important;
        box-shadow: 0 5px #666!important;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        background-color: #041E42!important;
        vertical-align:middle;
        margin-top:20px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
.background-img{
    background-image: url("/images/Buccaneer.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

}
.social-work-logo
{
    padding: 15px;

}
table thead th{
    background-color: #FFC72C;
    color: #041E42;
}
.btn-primary{
    background-color:#041E42;
    border:2px solid #FFC72C;
}
.btn-success{
    background-color:#041E42;
    border:2px solid #FFC72C;
}
.page-header{
    padding: 15px;
    color:white;
    margin:0 auto;
    text-align: center;
    display:inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:3px solid #FFC72C;
    background-color:#041E42;
    -webkit-box-shadow: #828282 15px 15px 15px;
    -moz-box-shadow: #828282 15px 15px 15px;
    box-shadow: #828282 15px 15px 15px;
    margin-bottom: 20px;
}

.siteheading {


    font-size: 130%;
    padding-top: 15px;
    margin: 0 ;
    font-family: "sorts italic", georgia, serif;

}

.sitesubheading {

    display: block;
    font-size: 100%;
    color: #fff;
    margin: 0;
    padding: 0px;

    margin-top: 0px;
    min-width: 35%;
    clear: both;
}
@media only screen and (min-width: 500px){
    .sw-heading{
        height: 85px!important;
        padding: 0!important;
        background-image: url("/images/header_logo.png");
        background-position: 2% 50%;
        background-repeat: no-repeat;

    }
    .siteheading {
        float: right;
        display: inline-block;
        padding-right: 20px;
    }
    .sitesubheading {
        float: right;
        text-align: right;
        padding-right: 20px;
    }
    .padsome{
        padding-left:20px;
        padding-right:20px;
    }

}
.sw-heading{
    height: 85px!important;
    padding: 0!important;

}

@media only screen and (max-width: 499px) {

    .siteheading {
        text-align: center!important;
        white-space: nowrap;
        vertical-align: middle;
      /*  padding-top: 10px;
        padding-left: 25px;*/
        margin: 0 auto;
    }
    .sitesubheading {
        text-align: center!important;
        padding:0!important;
    }
    .wrapcell{
        white-space: normal;
    }
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color:#041E42!important;
}






